.wrapper-form {
    width: 100%;
    height: calc(100vh - 59.2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksss {
    text-decoration: none;
    color: blue;
    font-size: large;
    margin-top: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.reg-btn {
    color: #2C3333;
    padding: 15px 35px;
    text-align: center;
    font-size: 16px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.cen-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 75px;
}