{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/livechat.css') }}">
{% endblock %}
{% block content %}
<ul class="room-list">
    {% for room in rooms %}
        <li><a href="#" class="room-link" data-room="{{ room }}">{{ room }}</a></li>
    {% endfor %}
</ul>

<br>
<br>
<div class="outline">
    <div id="chatbox">
    </div>
    <div class="container">
        <div class="user-messages">
            <input type="text" placeholder="Enter Message" name="text_message" id="user_message"/>
            <button type="submit" id="send-btn">Send</button>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    document.querySelectorAll('.room-link').forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault();
            room = event.target.dataset.room;
            socket.emit('join', {room: room});
        });
    });
    socket.on('message',data => {
        console.log(data);
        const sender = document.createElement('div')
        const msg = document.createElement('div');
        const br = document.createElement('br');
        msg.innerHTML = data
        if (!data.includes("{{session['loginname']}}")) {
            msg.classList.add("right")
        }

        msg.classList.add("bubble")
        document.querySelector('#chatbox').append(msg);
    });

    document.querySelector('#send-btn').onclick = () => {
        const thing = [document.querySelector('#user_message').value, room, "{{ session['loginname'] }}"];
        document.querySelector('#user_message').value = "";
        socket.emit("message", thing);
        console.log("Test");
    }
</script>
{% endblock %}