<!DOCTYPE html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', 'css/livechat.css')}}">
</head>
<body>
    <br>
    <br>
    <div class="outline">
        <div id="chatbox">
        </div>
        <div class="container">
            <div class="user-messages">
                <input type="text" placeholder="Enter Message" name="text_message" id="user_message"/>
                <button type="submit" id="send-btn">Send</button>
            </div>
        </div>
    </div>
</body>
